html,body,div,p,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,blockquote {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
}

ol,ul,li {
    list-style-type: none;
}

input,textarea,button {
    outline: none;
}

input[type^=text],input[type^=password],textarea {
    border: 1px solid #bbb;
    background: #f3f3f3;
}

input:focus,textarea:focus {
    background: #eee;
    border-color: #999;
}

input {
    vertical-align: middle;
}

input[type^=radio] {
    border: none;
    background: none;
    width: auto;
}

blockquote {
    background: #F6F6F6;
    border: 1px solid #EAEAEA;
    font-style: italic;
    line-height: 21px;
    margin: 4px 0 17px;
    overflow: hidden;
    padding: 8px 6px;
}

code,.code {
    border-radius: 3px;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    padding: 0 4px;
}

body,input,textarea,select,button,code,blockquote {
    font: 14px/1.5 "Microsoft YaHei",微软雅黑,Tahoma, Helvetica, Arial, SimSun,sans-serif;
}

body {
	background: url(../bg/1.jpg) no-repeat fixed 0 0 #EFEFEF;
    color: #727272;
}

h1,h2,h3 {
    font-weight: 400;
}

h1 {
    font-size: 20px;
}

h2,h3 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #323232;
}

a:hover {
    color: #424242;
}

.clear {
    clear: both;
}

#background{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index: -1;
}

#container {
    margin: 40px auto;
	margin-bottom: 5px;
    width: 700px;
	z-index: 50;
}

#header {
	float: left;
	width : 220px;
    margin-bottom: 33px;
	position: fixed;
	margin-top: 40px;
}

#header span.title {
	width:120px;
	height:120px;
    font-size: 37px;
	line-height:120px;
    font-weight: 500;
	text-align: center;
    display: block;
	background-color: rgba(255,255,255,0.5);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	border-radius: 50%;
	-webkit-animation-name: titlePulse;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: titlePulse;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
}
#header span.title:nth-child(2){
	margin-left:65px;
	margin-top:-40px;
}

#header span.title:hover {
	-webkit-animation-name: titleHover;
	-webkit-animation-duration: 1s;
	-moz-animation-name: titleHover;
	-moz-animation-duration: 1s;
}

@-webkit-keyframes titleHover{
	from {
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
	50%{
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 30px rgba(255,255,255,0.9);
	}
	to{
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
}
@-moz-keyframes titleHover{
	from {
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
	50%{
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 30px rgba(255,255,255,0.9);
	}
	to{
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
}

@-webkit-keyframes titlePulse{
	from {
		background-color: rgba(255,255,255,0.5);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
	50%{
		background-color: rgba(255,255,255,0.8);
		box-shadow: 0 0 30px rgba(255,255,255,0.9);
	}
	to{
		background-color: rgba(255,255,255,0.5);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
}

@-moz-keyframes titlePulse{
	from {
		background-color: rgba(255,255,255,0.5);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
	50%{
		background-color: rgba(255,255,255,0.8);
		box-shadow: 0 0 30px rgba(255,255,255,0.9);
	}
	to{
		background-color: rgba(255,255,255,0.5);
		box-shadow: 0 0 10px rgba(255,255,255,0.9);
	}
}

#header  span.rotate{
	-webkit-animation-name: titleRotate;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: titleRotate;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
}

@-webkit-keyframes titleRotate{
	from {
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes titleRotate{
	from {
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}

#header #nav {
    float: right;
	margin-right: 40px;
    font-size: 12.5px;
}

#header #nav ul li.menu-item a {
	margin-top: 10px;
	width:50px;
	height:50px;
	line-height:50px;
	text-align: center;
	font-style: normal;
    display: block;
	background-color: rgba(255,255,255,0.6);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	border-radius: 50%;
	-webkit-animation-name: titlePulse;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
}

#header #nav ul li.menu-item a:hover{
	-webkit-animation-name: titleHover;
	-webkit-animation-duration: 1s;
}

#header #nav ul li.current-menu-item a {
    font-weight: 700;
	-webkit-animation-name: titleHover;
	-webkit-animation-duration: 6s;
}

#content{
	float : right;
	width : 480px;
}
 @media only screen and (max-width:700px){
	#container{
		width:100%;
		min-width:480px;
		max-width:600px;
    }
	#header{
		width: 95%;
		margin:0 auto;
		float:none;
		position:static;
	}
	#content{
		float:none;
		width:95%;
		margin: 30px auto 0 auto;
	}
	
	#header span.title {
		display:inline-block;
		width:70px;
		height:70px;
		font-size: 20px;
		line-height:70px;
	}
	#header span.title:nth-child(2){
		margin-left:-15px;
		margin-top:0;
	}
	#header #nav {
		margin-right:0;
	}
	#header #nav ul li.menu-item{
		display:inline-block;
	}
	
	#header #nav ul li.menu-item a{
		display:inline-block;
		margin-top:3px;
		width:40px;
		height:40px;
		line-height:40px;
	}
  } 
@media only screen and (max-width:480px){ 
	html{
		height: 100%; 
		overflow: hidden; 
	}
	body{
		height: 100%; 
		overflow: scroll;
	}
	#container{
		width:100%;
		min-width:320px;
    }

	#header{
		width:97%;
	}
	#content{
		width:97%;
	}
 } 
.post {
    background-color: rgba(255,255,255,0.8);
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 7px;
    border-bottom: 2px solid #E2E2E9;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
}

.post .category{
	display:none;
}

.date {
    font-size: 12px;
    font-style: italic;
    position: relative;
}

.post h2 {
    font-size: 21px;
    font-weight: 700;
    padding: 16px 0;
    text-transform: uppercase;
}

.postInfo h2 {
    font-size: 14px;
    padding: 0;
}

.postInfo,.headInfo,#respond {
    color: #888;
    font-size: 12px;
    padding: 5px 10px;
}

.postInfo {
    box-shadow: rgba(0,0,0,0.2) 0 0 5px inset;
}

.postInfo a,.post h2 a:hover,.post h1 a:hover,.format-aside .date-container a:hover,.format-status .date-container a:hover {
    color: #DA3E3E;
}

.postInfo .postTags {
    float: left;
}

.postInfo .postNotes {
    float: right;
}

.post ul,.post li {
    margin-bottom: 13px;
}

.post ul li,.post ol li {
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 6px;
}

.post ol li {
    list-style-type: decimal;
}

.postContent {
    font-size: 14px;
    position: relative;
    padding: 12px 0;
}

.postContent p {
    margin: 0 0 13px;
    line-height: 28px;
}

.postContent blockquote p {
    margin: 0;
}

.postContent img {
    max-width: 778px;
    width: 100%;
    height: auto;
}

.postContent h1 {
    font-weight: 700;
    font-size: 18px;
    margin: 5px 0 5px -20px;
    padding: 3px 0 3px 17px;
    border-left: 5px solid #DA3E3E;
}

.postContent h2 {
    font-size: 14px;
    text-align: left;
    padding: 0;
}

#footer {
    padding: 20px 0;
    color: #323232;
    font-size: 11px;
    text-align: center;
}

#footer a {
    color: #DA3E3E;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

#pagenavi {
    text-align: center;
}

.page-numbers {
    padding: 5px 8px 4px;
    margin: 0 5px;
    background: rgba(255,255,255,0.6);
}

.page-numbers.current {
    background: rgba(218, 62, 62,0.3);
    color: #FFF;
}

#pagenavi .next,#pagenavi .prev {
    padding: 5px 0;
    margin: 0 5px;
    background: #FFF;
}

#pagenavi .next a,#pagenavi .prev a {
    font-size: 16px;
    padding: 5px 8px;
}

/* SLIMBOX2 */
#lbOverlay {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
}

#lbCenter,#lbBottomContainer {
    position: absolute;
    z-index: 9999;
    overflow: hidden;
    background-color: #fff;
}

.lbLoading {
    background: #fff url(images/loading.gif) no-repeat center;
}

#lbImage {
    position: absolute;
    left: 0;
    top: 0;
    border: 6px solid #fff;
    background-repeat: no-repeat;
}

#lbPrevLink,#lbNextLink {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    outline: none;
}

#lbPrevLink {
    left: 0;
}

#lbPrevLink:hover {
    background: transparent url(images/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
    right: 0;
}

#lbNextLink:hover {
    background: transparent url(images/nextlabel.gif) no-repeat 100% 15%;
}

#lbCaption,#lbNumber,#lbCloseLink,#lbBottom {
    display: none;
}

/*CodeRay Start*/
.CodeRay {
  background-color: hsl(0,0%,95%);
  border: 1px solid silver;
  color: black;
}
.CodeRay pre {
  overflow-x:scroll;
  margin: 0px;
}

span.CodeRay { white-space: pre; border: 0px; padding: 2px; }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px; }
table.CodeRay td { padding: 2px 4px; vertical-align: top; }

.CodeRay .line-numbers {
  background-color: hsl(180,65%,90%);
  color: gray;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.CodeRay .line-numbers a {
  background-color: hsl(180,65%,90%) !important;
  color: gray !important;
  text-decoration: none !important;
}
.CodeRay .line-numbers a:target { color: blue !important; }
.CodeRay .line-numbers .highlighted { color: red !important; }
.CodeRay .line-numbers .highlighted a { color: red !important; }
.CodeRay span.line-numbers { padding: 0px 4px; }
.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay .code { width: 100%; }

.CodeRay .debug { color: white !important; background: blue !important; }

.CodeRay .annotation { color:#007 }
.CodeRay .attribute-name { color:#b48 }
.CodeRay .attribute-value { color:#700 }
.CodeRay .binary { color:#509 }
.CodeRay .char .content { color:#D20 }
.CodeRay .char .delimiter { color:#710 }
.CodeRay .char { color:#D20 }
.CodeRay .class { color:#B06; font-weight:bold }
.CodeRay .class-variable { color:#369 }
.CodeRay .color { color:#0A0 }
.CodeRay .comment { color:#777 }
.CodeRay .comment .char { color:#444 }
.CodeRay .comment .delimiter { color:#444 }
.CodeRay .complex { color:#A08 }
.CodeRay .constant { color:#036; font-weight:bold }
.CodeRay .decorator { color:#B0B }
.CodeRay .definition { color:#099; font-weight:bold }
.CodeRay .delimiter { color:black }
.CodeRay .directive { color:#088; font-weight:bold }
.CodeRay .doc { color:#970 }
.CodeRay .doc-string { color:#D42; font-weight:bold }
.CodeRay .doctype { color:#34b }
.CodeRay .entity { color:#800; font-weight:bold }
.CodeRay .error { color:#F00; background-color:#FAA }
.CodeRay .escape  { color:#666 }
.CodeRay .exception { color:#C00; font-weight:bold }
.CodeRay .float { color:#60E }
.CodeRay .function { color:#06B; font-weight:bold }
.CodeRay .global-variable { color:#d70 }
.CodeRay .hex { color:#02b }
.CodeRay .imaginary { color:#f00 }
.CodeRay .include { color:#B44; font-weight:bold }
.CodeRay .inline { background-color: hsla(0,0%,0%,0.07); color: black }
.CodeRay .inline-delimiter { font-weight: bold; color: #666 }
.CodeRay .instance-variable { color:#33B }
.CodeRay .integer  { color:#00D }
.CodeRay .key .char { color: #60f }
.CodeRay .key .delimiter { color: #404 }
.CodeRay .key { color: #606 }
.CodeRay .keyword { color:#080; font-weight:bold }
.CodeRay .label { color:#970; font-weight:bold }
.CodeRay .local-variable { color:#963 }
.CodeRay .namespace { color:#707; font-weight:bold }
.CodeRay .octal { color:#40E }
.CodeRay .operator { }
.CodeRay .predefined { color:#369; font-weight:bold }
.CodeRay .predefined-constant { color:#069 }
.CodeRay .predefined-type { color:#0a5; font-weight:bold }
.CodeRay .preprocessor { color:#579 }
.CodeRay .pseudo-class { color:#00C; font-weight:bold }
.CodeRay .regexp .content { color:#808 }
.CodeRay .regexp .delimiter { color:#404 }
.CodeRay .regexp .modifier { color:#C2C }
.CodeRay .regexp { background-color:hsla(300,100%,50%,0.06); }
.CodeRay .reserved { color:#080; font-weight:bold }
.CodeRay .shell .content { color:#2B2 }
.CodeRay .shell .delimiter { color:#161 }
.CodeRay .shell { background-color:hsla(120,100%,50%,0.06); }
.CodeRay .string .char { color: #b0b }
.CodeRay .string .content { color: #D20 }
.CodeRay .string .delimiter { color: #710 }
.CodeRay .string .modifier { color: #E40 }
.CodeRay .string { background-color:hsla(0,100%,50%,0.05); }
.CodeRay .symbol .content { color:#A60 }
.CodeRay .symbol .delimiter { color:#630 }
.CodeRay .symbol { color:#A60 }
.CodeRay .tag { color:#070 }
.CodeRay .type { color:#339; font-weight:bold }
.CodeRay .value { color: #088; }
.CodeRay .variable  { color:#037 }

.CodeRay .insert { background: hsla(120,100%,50%,0.12) }
.CodeRay .delete { background: hsla(0,100%,50%,0.12) }
.CodeRay .change { color: #bbf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }
.CodeRay .head .filename { color: white; }

.CodeRay .delete .eyecatcher { background-color: hsla(0,100%,50%,0.2); border: 1px solid hsla(0,100%,45%,0.5); margin: -1px; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.CodeRay .insert .eyecatcher { background-color: hsla(120,100%,50%,0.2); border: 1px solid hsla(120,100%,25%,0.5); margin: -1px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.CodeRay .insert .insert { color: #0c0; background:transparent; font-weight:bold }
.CodeRay .delete .delete { color: #c00; background:transparent; font-weight:bold }
.CodeRay .change .change { color: #88f }
.CodeRay .head .head { color: #f4f }
/*CodeRay End */