
<div class="post">
	<p class="category"><%= page.category %></p>
	<div class="postContent">
        <div class="archive-title">
            <%- __('category', page.category) %>
        </div>
	</div>
</div>

<%- partial('_partial/post_loop', {loop_posts: page.posts}) %>

<%- partial('_partial/paginator') %>