<div class="post">
	<div class="postContent">
		<div class="archive-title">
            <%- __('tag', page.tag) %>
        </div>
	</div>
</div>

<%- partial('_partial/post_loop', {loop_posts: page.posts}) %>

<%- partial('_partial/paginator') %>